<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/demo.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/component.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/marketing.css') }}">
        <!--<![endif]-->
</head>
<body>


<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" id = 'resultado'></a>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Era uma vez uma I.A do Google...</h1>
        <p class="splash-subhead">
            Escolha uma imagem e verifique se é ou não o Miojo.
        </p>
        
        <div>
                    <input type="file" name="file" id="image_to_upload" class="inputfile" accept="image/*" />
                    <label for="image_to_upload">Escolha uma imagem...</label>
        </div>
        
    </div>
</div>
    <div class="footer l-box is-center">Developed by <a href = "https://www.linkedin.com/in/henriqueluzz/">@henriqueluzz</a> with purecss.io
        
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery.noConflict();    
    formdata = new FormData();


    jQuery("#image_to_upload").on("change", function() {
        var file = this.files[0];
        if (formdata) {
            formdata.append("image", file);
            jQuery.ajax({
                url: "/predict",
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success:function(response){
                  aux = response.slice(0,4)
                  if (Number(aux) <= 0.5) {

                      document.getElementById("resultado").innerHTML = aux + " % de probabilidade :("; 
                      document.getElementById("resultado").style.color = 'red';
                      document.getElementById("resultado").fontWeight = 'bold';
                      //refresh no Formdata caso seja feita mais de uma requisição
                      formdata = new FormData();
                      //red 
                  }
                  else {
                      document.getElementById("resultado").innerHTML = aux + " % de probabilidade :)";
                      document.getElementById("resultado").style.color = 'green';
                      document.getElementById("resultado").fontWeight = 'bold';
                      //refresh no Formdata caso seja feita mais de uma requisição
                      formdata = new FormData();
                      //green
                  }
                  
                }
            });
        }                       
    }); 
</script>
</body>
</html>
